# -------------------- NODE --------------------

node_modules/
frontend/node_modules/
dist/
.next/

# -------------------- PYTHON --------------------

**pycache**/
*.pyc
*.pyo
*.pyd
*.egg-info/
build/

# -------------------- ENV --------------------

.env
*.env

# -------------------- DATABASE --------------------

*.db
*.sqlite
*.sqlite3

# -------------------- LOGS --------------------

*.log

# -------------------- IDE --------------------

.vscode/
.idea/

# -------------------- OS --------------------

.DS_Store
Thumbs.db
